/* frontend/src/index.css */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;

}

body {
  margin: 0; /* Esta é a regra MAIS IMPORTANTE para remover a margem padrão do body */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  background-color: #f4f6f8;
  color: #333;
  font-size: 16px; /* Base font size */
}

*, *:before, *:after {
  box-sizing: inherit;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

/* Melhorias de acessibilidade para foco */
*:focus-visible {
  outline: 2px dashed #007bff;
  outline-offset: 2px;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  max-width: 100%;
  height: auto;
}